:root{
    --primary-color: #95AAD0;

    --neutral-dark-1: #1D1D1F;
    --neutral-dark-2: #00000033;
    --neutral-dark-3: #6C727F;
    --neutral-dark-4: #D2D5DA;

    --neutral-light-1: #FFFFFF;
    --neutral-light-2: #F3F4F6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}

body{
    width: 100%;
    height: 100vh;
}

/* HEADER */
header{
    background-image: url('img/background-image@2x.png');
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 240px;
    overflow-x: hidden;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 2em;
}
.header-content h1{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--neutral-light-1);
}
.header-content a{
    text-decoration: none;
    font-weight: 600;
    color: var(--neutral-light-1);
    font-size: 0.8em; 
    border-radius: 2em;
    padding: 0.5em 1em;
    background-color: var(--primary-color); 
    cursor: default;
}
.header-content a:hover{
    cursor: default;
}
/* FIM HEADER */

.content{
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
}

/* CART */
.cart{
    width: 100%;
    background-color: var(--neutral-dark-4);
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1.5em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -150px;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item{
    display: flex;
    justify-content: space-between;
}

.img-info{
    display: flex;
    gap: 1.3em;
}
.img-info .img{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 2em;
    border-radius: 8px;
    background-color: var(--neutral-light-2);
}
.img-info .blue{
    padding: 1em 2em;
}

.item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-info .name-description{
    display: flex;
    flex-direction: column;
    gap: .4em;
    font-size: .8em;
}
.item-info .name-description .name{
    font-weight: bold;
}
.item-info .description{
    color: var(--neutral-dark-3);
    font-weight: 600;
}
.item-info .qtd{
    font-size: .8em;
}

.price-close{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.price-close .price{
    font-size: .9em;
    font-weight: bold;
}

.cart-infos{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.input-btn-cupom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: .1em; */
    flex-wrap: wrap;
}
.input-btn-cupom input{
    width: 70%;
    padding: .9em;
    /* padding-right: 1em; */
    border: .01em solid var(--neutral-dark-3);
    border-radius: 8px;
    font-size: 1em;
}
.input-btn-cupom a{
    width: 28%;
    text-decoration: none;
    color: var(--neutral-light-2);
    background-color: #000;
    padding: 1.1em;
    border-radius: 10px;
    font-size: .8em;
    text-align: center;
}
.values{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}
.subtotal,
.tax{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--neutral-dark-3);
    font-weight: bold;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
/* FIM CART */

/* FORM */
.form{
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.form h1{
    font-size: 1em;
}
.form label{
    color: var(--neutral-dark-3);
    font-weight: bold;
}
.form input{
    padding: 1em;
    border-radius: 8px;
    border: .001em solid var(--neutral-dark-3);
    font-size: 1em;
    outline: none;
    background-color: var(--neutral-light-2);
}

.name,
.email{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.adress{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.adress .country{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: .5em;
    margin-top: .5em;
}
.adress .country select{
    padding: .9em;
    /* padding-right: 8em; */
    border: .01em solid var(--neutral-dark-3);
    border-radius: .5em;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    width: 250px;
    background-color: var(--neutral-light-2);
}
.adress .postal-code{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: .5em    ;
}
.adress .postal-code input{
    padding: .9em;
    width: 250px;
}

.form a{
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color: var(--neutral-light-2);
    padding: 1em 0;
    border: none;
    border-radius: .5em;
}

@media(min-width: 1024px){
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content .cart{
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }
    .content .form{
        margin-top: -213px;
        background-color: var(--neutral-light-1);
        border-top-right-radius: 15px;
    }

    .adress .country select{
        width: 200px;
    }
    .adress .postal-code input{
        width: 200px;
    }
}

@media(min-width: 1280px){
    .adress .country select{
        width: 250px;
    }
    .adress .postal-code input{
        width: 250px;
    }
}
/* FIM FORM */